# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnpm
/pnpm-lock.yaml

# sveltekit
/.svelte-kit
/build

# nextjs
/.next/
/out/

# misc
.DS_Store
*.log
.env
.env*.local
!.env.example
*.tgz
*.tsbuildinfo

# vercel
.vercel

# testing
/coverage

# vue
/vue
.flatbread-codegen-cache.json