@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Rock3D-Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Rock_3D/Rock3D-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'FiraCode-Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Fira_Code/static/FiraCode-Regular.ttf) format('truetype');
}

body {
	@apply selection:bg-tea-soup-500/60 selection:text-black;
}

@layer components {
	.background-box {
		@apply box-decoration-clone bg-heicha-900/80 px-1 text-shadow-lg shadow-md;
		/* @apply bg-heicha-700/80 backdrop-blur px-1.5 rounded text-shadow-md block; */
	}
}
