@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Rock3D-Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Rock_3D/Rock3D-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'FiraCode-Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Fira_Code/static/FiraCode-Regular.ttf) format('truetype');
}

body {
	@apply selection:bg-tea-soup-500/60 selection:text-black;
}
